body {
	background-image: url('https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg');
	background-size: cover;
}
.login-section {
	margin: auto;
	background-color: white;
	text-align: center;
	width: 320px;
	padding-top: 5px;
	padding-bottom: 40px;
	border-radius: 20px;
	border: 3px solid black;
	font-family: 'Germania One', cursive;
}
.title-text {
	text-align: center;
	text-decoration: bold;
	font-size: 50pt;
	color: black;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: 'Germania One', cursive;
}
.top-space {
	margin: 0 0 0 0;
	width: 100%;
	height: 25px;
}
.bottom-space {
	margin: 0 0 0 0;
	width: 100%;
	height: 25px;
}
.login-title {
	font-family: 'Germania One', cursive;
}
.page-section {
	margin: auto;
	background-color: white;
	text-align: center;
	width: 500px;
	padding-top: 5px;
	padding-bottom: 25px;
	border-radius: 20px;
	border: 4px solid black;
	font-family: 'Germania One', cursive;
}
.welcome-user
{
	padding-bottom: 10px;
}
.send-message
{

}
.send-message:hover
{
	color: blue;
	cursor: default;
}
.chats-title
{
	text-decoration: underline;
	font-size: 20pt;
}
.container-space
{
	margin: 0 0 0 0;
	padding-bottom: 5px;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	border: 2px solid black;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
input[type=text] {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
input[type=password] {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
p {
	margin: 0;
}
p.send-message
{
	padding-bottom: 10px;
}
p.chats-title
{
	padding-bottom: 10px;
}
.send-title
{

}
.button-container
{
	display: inline-block;
	padding-top: 10px;
}
.page-section-wide
{
	margin: auto;
	background-color: white;
	text-align: center;
	width: 600px;
	padding-top: 5px;
	padding-bottom: 25px;
	border-radius: 20px;
	border: 4px solid black;
	font-family: 'Germania One', cursive;
}
.send-to-box
{
	width: 350px;
	height: 43px;
}
.message-box
{
	width: 350px;
	height: 300px;
	resize: none;

}
.all-users
{

}
.all-users:hover
{
	color: blue;
	cursor: default;
}
.all-users-title
{
	text-align: center;
	text-decoration: bold;
	font-size: 35pt;
	color: black;
	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0px;
	font-family: 'Germania One', cursive;
	font-type: underline;
}
.back-button
{

}
.space-1
{
	margin: 0px;
	height: 40px;
	width: 100%;
}
.space-2
{
	margin: 0px;
	height: 40px;
	width: 100%;
}
.subtitle-text
{
text-align: center;
	text-decoration: bold;
	font-size: 15pt;
	color: black;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: 'Germania One', cursive;
}
.search-result
{
	text-align: left;
	text-decoration: bold;
	font-size: 10pt;
	color: black;
	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0px;
	font-family: 'Germania One', cursive;
	font-type: underline;
}